/* Scss Document */
/* Scss Document */
.home {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(0, 0, 255, 0.9), rgba(0, 0, 0, 0.8)), url("images/kpl.png");
  background-size: cover;
  clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0% 100%);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0% 100%);
  -mozkit-clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0% 100%); }

/* Scss Document */
